<!DOCTYPE html>
{% load static %}
<html lang="es-CL">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Examen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body >
    
        <div class="modal-dialog text-center">
            <div class="col-sm-12 main-section" >
                <div class="modal-content">
                  <div class="col-12 user-img" >
                      <img src="{% static 'img/logo.png' %}" alt="">
                  </div>
                  <h2 style="font-family: 'Quicksand', sans-serif; font-size: 40px;">Inciar sesión</h2>
                  <form class="col-12">
                      <div class="form-group" id="user-group">
                          <input  class="form-control" name="correo" id="correo" type="text" placeholder="Nombre de usuario">
                      </div>

                      <div class="form-group" id="contrasena-group">
                          <input  class="form-control" name="contrasenia" id="contrasenia" type="password" placeholder="Contraseña">
                      </div>

                      <!-- registroCompras-->

                      <button  type="submit" class="btn btn-outline-warning">  Ingresar</button>
                      
                      <a href="{% url "registro"%}" class="btn btn-outline-success" style="margin-top: 10px; width: 80%;  margin: 5px 0 25px; " >Registrate</a>

                    </form>
                  
                  <div class="col-12 forgot" >

                    <a href="#"> ¿Olvidaste la contraseña? </a>
                  </div>

                </div>
            </div>
        </div>






    <!--SCRIPTS-->
    <!--JQUERY-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script src="{% static " js/app.js" %}"></script>
    <!--SCRIPTS-->
</body>

</html>